<%- include('../includes/head.ejs')%>

</head>

<body class="login-body">
    <div class="login-container">

        <div class="login-legend">
           
        </div>

        <form class="login-form" method="POST" action="/reset-password">

            <% if(errorMessage) {%>
            <div class="alert alert-danger">
                <%=errorMessage %>
            </div>
            <% }%>

            <div class="login-form-field">
                <input class="form-control" type="text" placeholder="Email address" name="email">
            </div>
            <div class="login-button">
                <input type='hidden' name="_csrf" value="<%= csrfToken %>">
                <button class="btn">Reset Password</button>
            </div>
        </form>
    </div>

    <%- include('../includes/end.ejs') %>