<%- include('includes/head.ejs')%>
    </head>
    <%- include('includes/navigation.ejs') %>
    <body>
    

    <div id="hero" class="hero-section">
        <div
        id="hero-carousel"
        class="hero-carousel carousel carousel-fade slide"
        data-ride="carousel"
        data-interval="7000"
        >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li
            class="active"
            data-slide-to="0"
            data-target="#hero-carousel"
            ></li>
            <li data-slide-to="1" data-target="#hero-carousel"></li>
            <li data-slide-to="2" data-target="#hero-carousel"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            
            <div class="carousel-item item-1 active">
               
            <div class="item-content container">
                <div class="item-content-inner">
                    <div class="overlay"></div>

                <h2 class="heading">
                    The world today is more competitive 
                    than it has ever been. What makes 
                    you employable is the skillset you bring to the table.
                    <br class="d-none d-md-block" />
                </h2>
                <p class="intro">
                    C-ONSKID provides you the opportunity
                    to hone the right skills to be employed
                    in your dream company. Learn what it 
                    takes to be a part of the industry from
                    your college and stand out of the crowd
                    when the time comes. All this from the
                    ease of your home or hostel along with a
                    stipend to appreciate your efforts. Experience
                    how things work in the real world and make your mark.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            <!--//item-content-->
            </div>
            <!--//item-->

            <div class="carousel-item item-2">
            <div class="item-content container">
                <div class="item-content-inner">
                <h2 class="heading">
                    To have or learn skills is
                    one thing, but to be able to put it to use 
                    is a completely different game. 
                </h2>
                <p class="intro">
                    C-ONSKID gives you the opportunity
                    to learn while working with the company.
                    The flexiblity of these trainings and the
                    ease of work-from-home ensures the most 
                    condusive way to learn, earn and grow. 
                    You can start from your fourth semester and
                    this headstart can be decisive during the hiring season.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            </div>
            <!--//item-->

            <div class="carousel-item item-3">
            <div class="item-content container">
                <div class="item-content-inner">
                <h2 class="heading">
                    Opportunity dances with those who are ready on the dance floor.</h2>
                <p class="intro">
                    C-ONSKID invites you to be a part of
                    the this beautiful journey where you
                    can boost your career. Get Ready to take
                    the step ahead towards your glorious future. 
                    There is never too early or late for something
                    that you really want, only if you carriage to 
                    fulfill your dreams we as a team will ensure that
                    your going to rock and there will be no regrets
                    in your upcoming future. So Don’t waste your 
                    precious time. Start your today with us we’ll 
                    give our best shot to secure your future.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            </div>
            <!--//item-->
        </div>
        <!--//carousel-inner-->
        </div>
        <!--//carousel-->
    </div>
    <!--//hero-->

    <!-- About -->
    <div id="about" class="about-section">
        <div class="container text-center">
        <h2 class="section-title">Who are we?</h2>
        <p class="intro">
            C-ONSKID is a company which aims to help
            undergraduate college students nurture 
            their skills to boost their careers. 
            In today's fast paced world full of remarkable 
            people, the opportunity to shine is rare and 
            we prepare you to be ready when your time comes. 

        </p>

        <div class="items-wrapper row">
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/learn.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Learn new skills</h3>
                <div class="item-desc">
                    We gives opportunity for the 
                    students to gain their learning skills in the industry.
                    They can learn some new skills according to the 
                    requirements of the student with our guidance.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/apply.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Apply learned skills</h3>
                <div class="item-desc">
                    Learning is never gets old. 
                    How much worth learning an skill, A lot!
                    But if can’t apply to the perfect place and
                     you’ll always feel wander. 
                     We aim to provide internships so that students 
                     can brush up their skills and gain experience.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/excel.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Excel in your Domain</h3>
                <div class="item-desc">
                    Your journey starts with us from the day one. 
                    We believe to give knowledge to the students 
                    for stepping up in this Corporate world and definitely you’re
                    Graph will rise.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
        </div>
        <!--//items-wrapper-->
        </div>
        <!--//container-->
    </div>
    <!--//about-section-->

    <!-- Testimonial -->

    <!-- <div id="testimonials" class="testimonials-section">
        <div class="container">
        <h2 class="section-title text-center">Many Happy Customers</h2>
        <div class="item mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-1.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here Donec felis odio, sagittis eu cursus ac,
                porttitor eu purus. In a bibendum dui. Nullam id est sed felis
                rutrum tincidunt eu nec nisi morbi euismod semper neque sed
                lobortis.
                </p>
                <div class="quote-source">
                <span class="name">@JohnK,</span>
                <span class="meta">San Francisco</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item item-reversed mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-2.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here fermentum sed pharetra in, aliquet sodales
                quam. Ut sed turpis quis orci viverra aliquet interdum ut ipsum.
                </p>
                <div class="quote-source">
                <span class="name">@LisaWhite,</span>
                <span class="meta">London</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-3.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here vestibulum non hendrerit lorem, luctus
                tincidunt erat. Sed pharetra aliquam posuere. Pellentesque
                sollicitudin.
                </p>
                <div class="quote-source">
                <span class="name">@MattH,</span>
                <span class="meta">Berlin</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item item-reversed mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-4.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis
                </p>
                <div class="quote-source">
                <span class="name">@RyanW,</span>
                <span class="meta">Paris</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- </div> -->
    <!--//container-->
    <!-- </div> -->
    <!--//testimonials-->

    <!-- Team -->
    <div class="team-section" id="team">
        <div class="container text-center">
        <h2 class="section-title">Our Team</h2>
        <div class="story">
            <p>
                    From being the students of IIT(ISM)
                    Dhanbad to the creator of new recruitment 
                    culture, we are dedicated, passionate, diligent 
                    and hard at work. Our team has an expertise in 
                    experience, communication and management skills,
                    critical thinking, problem solving minds and leadership 
                    qualities which 
                    in turn makes the work go flawless. 
                    We ensure that our clients are satisfied 
                    and happy to work with us.
            </p>
        </div>
        <div class="members-wrapper row">
            <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="profile mb-2">
                <img
                    class="profile-image"
                    src="/images/sanjaysirimage.jpg"
                    alt="Xiaoying Riley"
                />
                </div>

                <div class="member-content">
                <h3 class="member-name">Sanjay Singh Salora</h3>
                <div class="member-title">Founder and CEO</div>
                <ul class="social list-inline">
                    <li class="list-inline-item">
                    <a class="twitter" href="#" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    </li>

                    <li class="list-inline-item">
                    <a class="github" href="#" target="_blank"
                        ><i class="fab fa-github"></i
                    ></a>
                    </li>
                </ul>
                <div class="member-desc">
                    <p>
                        Sanjay Singh Salora is our Founder and CEO.He did his Btech From IIT ISM DHANBAD in Electrical Engineering .He is passionate and very dedicated about his idea of changing the perspective  to build a glorious career.He is one mission with C-ONSKID and always ensures you that, in future you’ll have  no confusion to choose path to achieve your goals. His vision is to share his skills  for the  development of the students.
                    </p>
                </div>
                <!--//member-desc-->
                </div>
                <!--//member-content-->
            </div>
            <!--//item-inner-->
            </div>
            <div class="item col-md-6 col-12">
                <div class="item-inner">
                    <div class="profile mb-2">
                    <img
                        class="profile-image"
                        src="/images/biswasirimage.jpg"
                        alt="Xiaoying Riley"
                    />
                    </div>
    
                    <div class="member-content">
                    <h3 class="member-name">Biswa Kumar Solanki</h3>
                    <div class="member-title"> Co-Founder And COO</div>
                    <ul class="social list-inline">
                        <li class="list-inline-item">
                        <a class="twitter" href="#" target="_blank"
                            ><i class="fab fa-twitter"></i
                        ></a>
                        </li>
    
                        <li class="list-inline-item">
                        <a class="github" href="#" target="_blank"
                            ><i class="fab fa-github"></i
                        ></a>
                        </li>
                    </ul>
                    <div class="member-desc">
                        <p>
                            Biswa kumar Solanki is our Co-Founder And COO. He manages all the functioning of the company .He completed his Degree in Integrated MTech in Applied Geology Batch-2019 From IIT ISM DHANBAD .He is known for his Hardwork and Dedication .
                        </p>
                    </div>
                    <!--//member-desc-->
                    </div>
                    <!--//member-content-->
                </div>
                <!--//item-inner-->
                </div>
            <!--//item-->
            
    </div>
    <div class="members-wrapper row">        
        <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="profile mb-2">
                <img
                    class="profile-image"
                    src="/images/vishalsirimage.jpeg"
                    alt="Xiaoying Riley"
                />
                </div>
                <div class="member-content">
                <h3 class="member-name">Vishal Kumar</h3>
                <div class="member-title">Backend Developer</div>
                <ul class="social list-inline">
                    <li class="list-inline-item">
                    <a class="twitter" href="#" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    </li>
                    <li class="list-inline-item">
                    <a class="github" href="#" target="_blank"
                        ><i class="fab fa-github"></i
                    ></a>
                    </li>
                </ul>
                <div class="member-desc">
                    <p>
                        Vishal Kumar is our Backend Engineer. He is pursing Integrated MTech in Mathematics & Computing (final year) from IIT ISM DHANBAD. He is the backbone of the company , and manages the backend design of the our official Website of C-ONSKID. Our team shares the same dream of skill development with you .
                    </p>
                </div>
                <!--//member-desc-->
                </div>
                <!--//member-content-->
            </div>
            <!--//item-inner-->
            </div>
        <!--//item-->
        <div class="item col-md-6 col-12">
        <div class="item-inner">
            <div class="profile mb-2">
            <img
                class="profile-image"
                src="/images/harishsirimage.jpg"
                alt="Tom Najdek"
            />
            </div>

            <div class="member-content">
            <h3 class="member-name">Harish</h3>
            <div class="member-title">Customer Relationship Associate</div>
            <ul class="social list-inline">
                <li class="list-inline-item">
                <a class="twitter" href="#" target="_blank"
                    ><i class="fab fa-twitter"></i
                ></a>
                </li>

                <li class="list-inline-item">
                <a class="github" href="#" target="_blank"
                    ><i class="fab fa-github"></i
                ></a>
                </li>
            </ul>
            <div class="member-desc">
                <p>
                    Harish Kunwar is our Customer Relationship Associate.He Completed his Btech From IIT ISM DHANBAD in Mining Engineering Batch(2020).He is the one to keep up the relations with the customer and to associate with them. He always give his best shot for the development of this organization .
                <!-- <a href="#" target="_blank"
                    >Twitter</a
                >
                for fresh developer tips and check out his
                <a href="#" target="_blank"
                    >Github</a
                > -->
                </p>
            </div>
            <!--//member-desc-->
            </div>
            <!--//member-content-->
        </div>
        <!--//item-inner-->
        </div>
        <!--//item-->
    </div>
    <!--//members-wrapper-->
    </div>
</div>
    <!--//team-section-->


    
    <%- include('includes/end.ejs') %>
