<%- include('includes/head.ejs')%>
    </head>

    <body>
    <%- include('includes/navigation.ejs') %>

    <div id="hero" class="hero-section">
        <div
        id="hero-carousel"
        class="hero-carousel carousel carousel-fade slide"
        data-ride="carousel"
        data-interval="10000"
        >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li
            class="active"
            data-slide-to="0"
            data-target="#hero-carousel"
            ></li>
            <li data-slide-to="1" data-target="#hero-carousel"></li>
            <li data-slide-to="2" data-target="#hero-carousel"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item item-1 active">
            <div class="item-content container">
                <div class="item-content-inner">
                <h2 class="heading">
                    Your Journey Starts Here
                    <br class="d-none d-md-block" />
                </h2>
                <p class="intro">
                    C-onskid here Provides you with the oportunity to learn skills
                    that matters.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            <!--//item-content-->
            </div>
            <!--//item-->

            <div class="carousel-item item-2">
            <div class="item-content container">
                <div class="item-content-inner">
                <h2 class="heading">Apply your skills</h2>
                <p class="intro">
                    Dont't Just learn skills, but apply them to industry grade
                    projects ans gain experience.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            </div>
            <!--//item-->

            <div class="carousel-item item-3">
            <div class="item-content container">
                <div class="item-content-inner">
                <h2 class="heading">Who is stoping you now?</h2>
                <p class="intro">
                    Explore C-onskid and boost your career with us.
                </p>
                </div>
                <!--//item-content-inner-->
            </div>
            </div>
            <!--//item-->
        </div>
        <!--//carousel-inner-->
        </div>
        <!--//carousel-->
    </div>
    <!--//hero-->

    <!-- About -->
    <div id="about" class="about-section">
        <div class="container text-center">
        <h2 class="section-title">Who are we?</h2>
        <p class="intro">
            We at C-ONSKID share a common vision of skill development. C-ONSKID is
            on a mission to bridge the gap between Students and Companies. We aim
            to equip students with relevant skills and practical exposure through
            internships and trainings meanwhile helping companies to recruit and
            hire truly informed candidates, at scale. Imagine a student getting
            exposure to industries during his/her academic years. Imagine a
            company hiring an individual who truly knows his way around and is
            fully assured, fully confident, and fully prepared to work in that
            company.
        </p>

        <div class="items-wrapper row">
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/learn.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Learn new skills</h3>
                <div class="item-desc">
                We give oportunity to students to learn industry grade skills.
                They can learn new skills according to their interest and
                Industry demands.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/apply.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Apply learned skills</h3>
                <div class="item-desc">
                How much worth learning an skill is if you can't apply all those
                learned skills. We aim to provide internships so that students
                can brushup new learned skills and gain experience.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-md-4 col-12">
            <div class="item-inner">
                <div class="figure-holder">
                <img
                    class="figure-image moto-image"
                    src="/images/excel.png"
                    alt="image"
                />
                </div>
                <!--//figure-holder-->
                <h3 class="item-title">Excel in your Domain</h3>
                <div class="item-desc">
                Your journey starts from here when you with your experience step
                into this corporate world and excel in your domain.
                </div>
                <!--//item-desc-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
        </div>
        <!--//items-wrapper-->
        </div>
        <!--//container-->
    </div>
    <!--//about-section-->

    <!-- Testimonial -->

    <!-- <div id="testimonials" class="testimonials-section">
        <div class="container">
        <h2 class="section-title text-center">Many Happy Customers</h2>
        <div class="item mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-1.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here Donec felis odio, sagittis eu cursus ac,
                porttitor eu purus. In a bibendum dui. Nullam id est sed felis
                rutrum tincidunt eu nec nisi morbi euismod semper neque sed
                lobortis.
                </p>
                <div class="quote-source">
                <span class="name">@JohnK,</span>
                <span class="meta">San Francisco</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item item-reversed mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-2.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here fermentum sed pharetra in, aliquet sodales
                quam. Ut sed turpis quis orci viverra aliquet interdum ut ipsum.
                </p>
                <div class="quote-source">
                <span class="name">@LisaWhite,</span>
                <span class="meta">London</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-3.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here vestibulum non hendrerit lorem, luctus
                tincidunt erat. Sed pharetra aliquam posuere. Pellentesque
                sollicitudin.
                </p>
                <div class="quote-source">
                <span class="name">@MattH,</span>
                <span class="meta">Berlin</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- <div class="item item-reversed mx-auto">
            <div class="profile-holder">
            <img
                class="profile-image"
                src="/images/profile-4.png"
                alt="profile"
            />
            </div>
            <div class="quote-holder">
            <blockquote class="quote">
                <p>
                Testimonial goes here lorem ipsum dolor sit amet, consectetuer
                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis
                </p>
                <div class="quote-source">
                <span class="name">@RyanW,</span>
                <span class="meta">Paris</span>
                </div> -->
    <!--//quote-source-->
    <!-- </blockquote> -->
    <!-- </div> -->
    <!--//quote-holder-->
    <!-- </div> -->
    <!--//item-->
    <!-- </div> -->
    <!--//container-->
    <!-- </div> -->
    <!--//testimonials-->

    <!-- Team -->
    <div class="team-section" id="team">
        <div class="container text-center">
        <h2 class="section-title">Our Team</h2>
        <div class="story">
            <p>
            Introducing our Team. Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Integer tincidunt. Cras dapibus. Vivamus elementum
            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
            Etiam ultricies nisi vel augue
            </p>
        </div>
        <div class="members-wrapper row">
            <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="profile mb-2">
                <img
                    class="profile-image"
                    src="/images/tm-1.jpeg"
                    alt="Xiaoying Riley"
                />
                </div>

                <div class="member-content">
                <h3 class="member-name">Vishal Kumar</h3>
                <div class="member-title">Backend Developer</div>
                <ul class="social list-inline">
                    <li class="list-inline-item">
                    <a class="twitter" href="#" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    </li>

                    <li class="list-inline-item">
                    <a class="github" href="#" target="_blank"
                        ><i class="fab fa-github"></i
                    ></a>
                    </li>
                </ul>
                <div class="member-desc">
                    <p>
                    Vishal Kumar is our back-end engineer. He is behind the
                    backend design of this website. He is one of the crucial
                    member of our team and shares the same dream of skill
                    development with us.
                    </p>
                </div>
                <!--//member-desc-->
                </div>
                <!--//member-content-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
            <div class="item col-md-6 col-12">
            <div class="item-inner">
                <div class="profile mb-2">
                <img
                    class="profile-image"
                    src="/images/tm-2.jpg"
                    alt="Tom Najdek"
                />
                </div>

                <div class="member-content">
                <h3 class="member-name">Harish</h3>
                <div class="member-title">Customer Relationship Associate</div>
                <ul class="social list-inline">
                    <li class="list-inline-item">
                    <a class="twitter" href="#" target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    </li>

                    <li class="list-inline-item">
                    <a class="github" href="#" target="_blank"
                        ><i class="fab fa-github"></i
                    ></a>
                    </li>
                </ul>
                <div class="member-desc">
                    <p>
                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
                    Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla
                    <!-- <a href="#" target="_blank"
                        >Twitter</a
                    >
                    for fresh developer tips and check out his
                    <a href="#" target="_blank"
                        >Github</a
                    > -->
                    </p>
                </div>
                <!--//member-desc-->
                </div>
                <!--//member-content-->
            </div>
            <!--//item-inner-->
            </div>
            <!--//item-->
        </div>
        <!--//members-wrapper-->
        </div>
    </div>
    <!--//team-section-->

    <div id="contact" class="contact-section">
        <div class="container text-center">
        <h2 class="section-title">Contact Us</h2>
        <div class="contact-content">
            <p>
            Need assistance?<br />
            Just contact us at +91-7519501141 <br />
            Email us at : support@c-onskid.com
            </p>
        </div>
        <a class="btn btn-cta btn-primary" href="#">Get in Touch</a>
        </div>
        <!--//container-->
    </div>
    <!--//contact-section-->

    <!-- <footer class="footer text-center">
        <div class="container"> -->
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
    <!-- <small class="copyright"
            >Designed with <i class="fas fa-heart"></i> by
            <a href="https://themes.3rdwavemedia.com/" target="_blank"
            >Xiaoying Riley</a
            >
            for developers</small
        >
        </div> -->
    <!--//container-->
    <!-- </footer> -->

    <!-- Javascript -->
    <script type="text/javascript" src="/plugins/jquery-3.3.1.min.js"></script>
    <script
        type="text/javascript"
        src="/plugins/bootstrap/js/bootstrap.min.js"
    ></script>
    <script
        type="text/javascript"
        src="/plugins/jquery-scrollTo/jquery.scrollTo.min.js"
    ></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    <%- include('includes/end.ejs') %>
